---
import Layout from 'layouts/Layout.astro';
---

<Layout title="Not Found">
  <div
    class="flex flex-col justify-center items-center max-w-2xl m-auto text-center"
  >
    <h1 class="font-bold text-8xl md:text-9xl tracking-tight">404</h1>
    <h2 class="font-bold text-3xl md:text-4xl tracking-tight">
      There isn't anything here
    </h2>

    <a
      href="/"
      class="py-3 px-4 sm:py-4 sm:px-6 my-10 font-bold bg-slate-100 dark:bg-slate-700 text-center rounded-md hover:bg-slate-200 dark:hover:bg-slate-800 transition-colors"
    >
      Return Home
    </a>
  </div>
</Layout>
