---
import Layout from 'layouts/Layout.astro';
---

<Layout title="Not Found">
  <div
    class="flex flex-col justify-center items-center max-w-2xl m-auto text-center gap-4"
  >
    <div class="w-60 md:w-80 mb-10 floating">
      <svg viewBox="0 0 60 61"
        ><g transform="translate(-1)" fill="currentColor"
          ><path
            d="M38.45 19.1a1 1 0 00-1.32.51A9 9 0 0128.89 25a1 1 0 000 2A11 11 0 0039 20.41a1 1 0 00-.55-1.31z"
          ></path><path
            d="M54.69 17.44a4 4 0 00-5.37 1.75 18 18 0 01-9.93 8.08.42.42 0 01-.34-.06.43.43 0 01-.09-.13c5.806-5.268 6.576-14.118 1.767-20.31C35.917.58 27.152-.865 20.61 3.457s-8.65 12.951-4.841 19.803a4 4 0 00-3.2 1.74 13.39 13.39 0 01-8.06 5A4.11 4.11 0 001 33.72 4 4 0 004.52 38c1.33.16 5.42-.79 9-3.06a19.64 19.64 0 01-3.26 5.2A21.06 21.06 0 004.85 54a5 5 0 005 5 5.06 5.06 0 005-5.08 10.52 10.52 0 011.62-5.51 9.35 9.35 0 002.53 1.1A23 23 0 0017.89 56a5 5 0 0010 0 11 11 0 012.83-7.24 31.41 31.41 0 006.72-12.9 25.72 25.72 0 0019-13.05 4 4 0 00-1.75-5.37zm-6.92 7a15.08 15.08 0 002.83 2.82c-.53.53-1.12 1.06-1.76 1.59a9.18 9.18 0 01-2.72-3 18.6 18.6 0 001.65-1.41zM28.89 29a12.84 12.84 0 01-6-1.49 26.89 26.89 0 01-2-12.22c.7-1.37 6.29-11.23 19.4-5.57A13 13 0 0128.89 29zm0-26a12.94 12.94 0 019.17 3.8C24.64 2.88 19 14.45 19 14.58c-.31.67-.51 5.67 1.06 10.92A13 13 0 0128.89 3zM9.61 30.25a17.66 17.66 0 011 4 17.2 17.2 0 01-1.61.69 16 16 0 00-1-3.87 15.49 15.49 0 001.61-.82zM5.3 36A2 2 0 013 33.85 2.16 2.16 0 014.86 32c.42-.08.83-.17 1.22-.28a13.08 13.08 0 011 3.87c-.58.15-1.17.28-1.78.41zm4.92 21a3 3 0 01-3.37-3v-.32a8.62 8.62 0 016 0v.26A3.13 3.13 0 0110.22 57zm13 2a3 3 0 01-3.37-3v-.34a8.54 8.54 0 016 0V56a3.06 3.06 0 01-2.59 3zM36.5 34a1 1 0 00-.86.75 29.82 29.82 0 01-6.45 12.73 13.2 13.2 0 00-3.1 6.17 10.36 10.36 0 00-6.05-.08 18.47 18.47 0 01.96-3.69c.64.078 1.285.118 1.93.12a1 1 0 000-2c-3.32 0-5.09-.94-6-1.81a3.85 3.85 0 01-1-1.44 1 1 0 00-1.29-.75 1 1 0 00-.72 1.21 5.19 5.19 0 001 1.84 12.81 12.81 0 00-1.86 4.52A10.47 10.47 0 007 51.53a19.17 19.17 0 014.67-10.1 23.34 23.34 0 004.82-9.1 1 1 0 00-1.64-1 17.94 17.94 0 01-2.41 1.85 18.13 18.13 0 00-1.18-4 14.61 14.61 0 002.93-2.95 2 2 0 012.28-.8 1 1 0 00.66 0 15 15 0 007 4.9 17.05 17.05 0 00-3.85 7.13 7.54 7.54 0 01-1.7-1.06 1 1 0 10-1.41 1.42 9.64 9.64 0 002.73 1.67 16.54 16.54 0 000 3.73 1 1 0 001 .89 1 1 0 001-1.11 14.74 14.74 0 010-2.81 24.87 24.87 0 007 .92 1 1 0 000-2 22.54 22.54 0 01-6.72-.92 15.18 15.18 0 014.2-7.31 14.81 14.81 0 0011-2.43 2.35 2.35 0 002.6.83 18.55 18.55 0 004.5-2.11 11.29 11.29 0 002.66 3 22.89 22.89 0 01-10.6 3.77zm18.13-12A20.5 20.5 0 0152 25.77a12.76 12.76 0 01-2.82-2.84 17.93 17.93 0 001.94-2.82 2 2 0 012.68-.89 2 2 0 01.87 2.67z"
          ></path><circle cx="38.89" cy="16" r="1"></circle><path
            d="M60 57h-1v-1a1 1 0 00-2 0v1h-1a1 1 0 000 2h1v1a1 1 0 002 0v-1h1a1 1 0 000-2zM45 43h-1v-1a1 1 0 00-2 0v1h-1a1 1 0 000 2h1v1a1 1 0 002 0v-1h1a1 1 0 000-2zM54 7a1 1 0 001-1V5h1a1 1 0 000-2h-1V2a1 1 0 00-2 0v1h-1a1 1 0 000 2h1v1a1 1 0 001 1z"
          ></path></g
        ></svg
      >
    </div>

    <h1 class="font-bold text-8xl md:text-9xl tracking-tight">404</h1>
    <h2 class="font-bold text-3xl md:text-4xl tracking-tight">
      Houston, we have a problem ...
    </h2>
  </div>
</Layout>

<style>
  .floating {
    animation: floatAnim 6s ease-in-out infinite;
  }

  @keyframes floatAnim {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
</style>
