---
import Layout from 'layouts/Layout.astro';
---

<Layout title="Not Found">
  <div class="prose m-auto text-center dark:prose-dark">
    <h1>404</h1>
    <h2>Woops. Looks like this page does not exist ...</h2>
  </div>
</Layout>
