---
import Project from 'components/Project.astro';
import Talk from 'components/Talk.astro';
import Layout from 'layouts/Layout.astro';
import about from 'author.json';
import { Content } from 'about.md';
---

<Layout title="About me">
  <section class="prose max-w-full dark:prose-dark">
    <h1>About me</h1>

    <div
      class="flex flex-col items-center justify-between gap-4 sm:flex-row sm:gap-8"
    >
      <div class="max-w-full sm:max-w-md">
        <Content />
      </div>

      <!-- Do not use Img here because Gravatar already does this convertion  -->
      <div class="not-prose image-container">
        <div
          class="aspect-square h-full w-full overflow-hidden rounded-lg bg-white transition-transform dark:bg-neutral-900 sm:rounded-3xl sm:hover:-translate-x-5 sm:hover:-translate-y-5 sm:hover:shadow-lg"
        >
          <img src={`${about.avatar}?s=1024`} alt={about.name} />
        </div>
      </div>
    </div>

    <h2 id="projects">Projects</h2>

    <div class="grid gap-6 sm:grid-cols-2">
      {about.projects.map((url) => <Project url={url} />)}
    </div>

    <h2 id="talks">Talks</h2>

    {about.talks.map((talk) => <Talk {...talk} />)}
  </section>
</Layout>

<style>
  .image-container {
    @apply relative h-60 w-60 rounded-3xl transition-all lg:h-80 lg:w-80;

    --r: 40px; /* control the size */
    --c1: #6366f1 /*color 1*/ 99%, #0000 101%;
    --c2: #fb7185 /*color 2*/ 99%, #0000 101%;

    --s: calc(var(--r) * 0.866); /* .866 = cos(30deg) */
    --g0: radial-gradient(var(--r), var(--c1));
    --g1: radial-gradient(var(--r), var(--c2));
    --f: radial-gradient(var(--r) at calc(100% + var(--s)) 50%, var(--c1));
    --p: radial-gradient(var(--r) at 100% 50%, var(--c2));
    background: var(--f) 0 calc(-5 * var(--r) / 2),
      var(--f) calc(-2 * var(--s)) calc(var(--r) / 2),
      var(--p) 0 calc(-2 * var(--r)), var(--g0) var(--s) calc(-5 * var(--r) / 2),
      var(--g1) var(--s) calc(5 * var(--r) / 2),
      radial-gradient(var(--r) at 100% 100%, var(--c1)) 0 calc(-1 * var(--r)),
      radial-gradient(var(--r) at 0% 50%, var(--c1)) 0 calc(-4 * var(--r)),
      var(--g1) calc(-1 * var(--s)) calc(-7 * var(--r) / 2),
      var(--g0) calc(-1 * var(--s)) calc(-5 * var(--r) / 2),
      var(--p) calc(-2 * var(--s)) var(--r),
      var(--g0) calc(-1 * var(--s)) calc(var(--r) / 2),
      var(--g1) calc(-1 * var(--s)) calc(var(--r) / -2),
      var(--g0) 0 calc(-1 * var(--r)), var(--g1) var(--s) calc(var(--r) / -2),
      var(--g0) var(--s) calc(var(--r) / 2) #fb7185; /*color 2 again here */
    background-size: calc(4 * var(--s)) calc(6 * var(--r));
  }
</style>
