---
import { Icon } from 'astro-icon';
import Layout from 'layouts/Layout.astro';
import { format, parseISO } from 'date-fns';
import type { Post } from 'types';
import { groupPostsByDate } from 'helpers';

const posts = await Astro.glob<Post>('./blog/**/*.{md,mdx}');
const grouped = groupPostsByDate(posts);
---

<Layout
  title="Blog"
  description="Here is my blog. I started to write not so long ago and trying my best"
>
  <section class="prose max-w-full dark:prose-dark">
    <h1>Blog</h1>
    {
      grouped.map((group) => (
        <>
          <h2>{group.year}</h2>
          <ul class="list-none space-y-8 pl-0">
            {group.posts.map(({ frontmatter, url }) => (
              <li>
                <a
                  href={'external' in frontmatter ? frontmatter.external : url}
                  class="w-fit"
                >
                  <span class="text-ellipsis sm:max-w-xl sm:truncate">
                    {frontmatter.title}
                  </span>
                  {'external' in frontmatter && (
                    <Icon
                      name="ri:external-link-line"
                      class="ml-1 inline h-4 w-4 align-baseline"
                    />
                  )}
                </a>
                <small class="block">
                  {format(parseISO(frontmatter.publishedAt), 'MMMM d')} -
                  {frontmatter.minutesRead}
                </small>
                <p class="my-1">{frontmatter.summary}</p>
              </li>
            ))}
          </ul>
        </>
      ))
    }
  </section>
</Layout>
