---
import { Icon } from 'astro-icon';
import Layout from 'layouts/Layout.astro';
import { format } from 'date-fns';

type Post = {
  frontmatter: {
    title: string;
    summary: string;
    original?: {
      url: string;
      external?: boolean;
    };
    minutesRead: string;
    publishedAt: string;
  };
  url: string;
};

const title = 'Blog';
const description =
  'Here is my blog. I started to write not so long ago and trying my best';
let posts = await Astro.glob<Post>('./blog/*.{md,mdx}');

posts = posts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.publishedAt) -
    Date.parse(a.frontmatter.publishedAt),
);
---

<Layout title={title} description={description}>
  <h1 class="font-bold text-4xl sm:text-5xl tracking-tight mb-6 sm:mb-10">
    Blog
  </h1>
  <ul class="space-y-8 sm:space-y-12">
    {
      posts.map(({ frontmatter, url }) => (
        <li>
          <article class="relative">
            <div class="flex flex-col sm:flex-row justify-between mb-2">
              <h3 class="flex mb-1 sm:mb-0 text-lg sm:text-xl font-bold  text-slate-900 dark:text-slate-100">
                <a
                  href={
                    frontmatter.original?.external
                      ? frontmatter.original?.url
                      : url
                  }
                  class="block-link transition-opacity opacity-80 hover:opacity-100"
                >
                  {frontmatter.title}
                  {frontmatter.original?.external && (
                    <Icon
                      name="ri:external-link-line"
                      class="w-4 h-4 ml-2 align-baseline inline"
                    />
                  )}
                </a>
              </h3>
              <p class="text-slate-600 dark:text-slate-400">
                {format(Date.parse(frontmatter.publishedAt), 'MMM yyyy')}
              </p>
            </div>
            <p class="text-slate-600 dark:text-slate-400 max-w-2xl">
              {frontmatter.summary}
            </p>
          </article>
        </li>
      ))
    }
  </ul>
</Layout>
