---
import { Icon } from 'astro-icon';
import Layout from 'layouts/Layout.astro';
import { format, parseISO } from 'date-fns';
import type { Post } from 'types';
import { sortPostByDate } from 'helpers';

const posts = await Astro.glob<Post>('./blog/**/*.{md,mdx}');
---

<Layout
  title="Blog"
  description="Here is my blog. I started to write not so long ago and trying my best"
>
  <h1 class="mb-6 text-4xl font-bold tracking-tight sm:mb-10 sm:text-5xl">
    Blog
  </h1>
  <ul class="space-y-8 sm:space-y-12">
    {
      posts.sort(sortPostByDate).map(({ frontmatter, url }) => (
        <li>
          <article class="prose dark:prose-dark relative">
            <div class="flex flex-col justify-between sm:flex-row">
              <h3 class="m-0 flex w-fit font-bold">
                <a
                  href={'external' in frontmatter ? frontmatter.external : url}
                >
                  {frontmatter.title}
                  {'external' in frontmatter && (
                    <Icon
                      name="ri:external-link-line"
                      class="ml-2 inline h-4 w-4 align-baseline"
                    />
                  )}
                </a>
              </h3>
              <p class="m-0">
                {format(parseISO(frontmatter.publishedAt), 'MMM yyyy')}
              </p>
            </div>
            <p class="max-w-2xl">{frontmatter.summary}</p>
          </article>
        </li>
      ))
    }
  </ul>
</Layout>
