---
import { Icon } from 'astro-icon';
import Layout from 'layouts/Layout.astro';
import { format, parseISO } from 'date-fns';
import type { Post } from 'types';
import { sortPostByDate } from 'helpers';

const posts = await Astro.glob<Post>('./blog/**/*.{md,mdx}');
---

<Layout
  title="Blog"
  description="Here is my blog. I started to write not so long ago and trying my best"
>
  <h1 class="font-bold text-4xl sm:text-5xl tracking-tight mb-6 sm:mb-10">
    Blog
  </h1>
  <ul class="space-y-8 sm:space-y-12">
    {
      posts.sort(sortPostByDate).map(({ frontmatter, url }) => (
        <li>
          <article class="relative prose dark:prose-dark">
            <div class="flex flex-col sm:flex-row justify-between">
              <h3 class="flex font-bold m-0 w-fit">
                <a
                  href={'external' in frontmatter ? frontmatter.external : url}
                >
                  {frontmatter.title}
                  {'external' in frontmatter && (
                    <Icon
                      name="ri:external-link-line"
                      class="w-4 h-4 ml-2 align-baseline inline"
                    />
                  )}
                </a>
              </h3>
              <p class="m-0">
                {format(parseISO(frontmatter.publishedAt), 'MMM yyyy')}
              </p>
            </div>
            <p class="max-w-2xl">{frontmatter.summary}</p>
          </article>
        </li>
      ))
    }
  </ul>
</Layout>
