---
import Layout from "layouts/Layout.astro";
import { format } from "date-fns";
import { getPostLink, groupPostsByDate } from "helpers";
import { getCollection } from "astro:content";

const tilPosts = await getCollection("til");

const postsByDate = groupPostsByDate(tilPosts.filter((post) => !post.draft));
---

<Layout
  title="Blog"
  description="Here is my blog. I started to write not so long ago and trying my best"
>
  <section class="prose max-w-full dark:prose-dark">
    <h1>Today I Learned</h1>
    <p>
      This is a collection of short articles about things I've learned. They are
      too short for my <a href="/blog">Blog</a>
    </p>
    <p>
      I stole this idea from
      <a href="https://github.com/jbranchaud/til">jbranchaud/til</a>
    </p>

    {
      postsByDate.map((group) => (
        <>
          <h2>{group.year}</h2>
          <ul class="list-none space-y-8 pl-0">
            {group.posts.map((post) => (
              <li>
                <div class="flex justify-between">
                  <a href={getPostLink(post)} class="truncate">
                    {post.data.title}
                  </a>
                  <span class="w-20 text-right">
                    {format(post.data.publishedAt, "d MMM")}
                  </span>
                </div>
                <p class="my-1">{post.data.summary}</p>
              </li>
            ))}
          </ul>
        </>
      ))
    }
  </section>
</Layout>
