---
type Props = {
  repo: string;
};

const { repo } = Astro.props;
---

<section id="comments-light" class="-ml-6">
  <script
    src="https://utteranc.es/client.js"
    repo={repo}
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async
  ></script>
</section>

<section id="comments-dark" class="-ml-6">
  <script
    src="https://utteranc.es/client.js"
    repo={repo}
    issue-term="pathname"
    theme="github-dark"
    crossorigin="anonymous"
    async
  ></script>
</section>

<style is:global>
  #comments-dark,
  .dark #comments-light {
    display: none;
    height: 0px;
  }

  #comments-light,
  .dark #comments-dark {
    display: block;
    height: fit-content;
  }
</style>
