---
export type Props = {
  href: string;
};

const { href } = Astro.props;
const { pathname } = Astro.url;
const isActive = href !== '/' && pathname.startsWith(href);
---

<a
  href={href}
  class={`inline-block ${
    isActive
      ? 'font-bold'
      : 'border-b dark:border-slate-700 dark:hover:border-current hover:border-current'
  }`}
>
  <slot />
</a>
