---

---

<section class="prose mx-auto w-full dark:prose-dark">
  <slot />
</section>

<script>
  import mediumZoom from "medium-zoom/dist/pure";

  document.addEventListener("astro:page-load", () => {
    const target = document.querySelectorAll(
      "[data-zoomable] > img, article section figure > img",
    );

    mediumZoom(target, { margin: 24 });
  });
</script>

<script>
  import "@justinribeiro/lite-youtube";

  document.addEventListener("astro:page-load", () => {
    const videos = document.querySelectorAll("lite-youtube");

    videos.forEach((node) => {
      const label = document.createElement("figcaption");
      label.textContent = node.videoTitle;
      node.parentNode?.insertBefore(label, node.nextSibling);
    });
  });
</script>

<style is:global>
  .medium-zoom-overlay {
    @apply bg-white dark:bg-neutral-900 !important;
  }

  .medium-zoom-image {
    @apply rounded-md;
  }
</style>
