---
import { Icon } from 'astro-icon';
import { humanize } from 'helpers';
import type { Project } from 'types';

type Props = Project;

const { url, description } = Astro.props;

const title = humanize(url.split('/').pop());
---

<a href={url} class="border-none">
  <section
    class="h-full project px-4 py-3 -mx-3 sm:mx-0 sm:px-6 sm:py-5 border-2 hover:dark:border-indigo-600 hover:border-indigo-300 border-slate-200 dark:border-slate-700 rounded-lg transition hover:shadow-lg hover:-translate-y-1"
  >
    <h3
      class="flex items-center justify-between mb-2 text-l font-bold m-0 no-underline sm:text-xl"
    >
      {title}

      <span class="ml-2">
        <Icon name="ri:github-line" class="w-6 h-6 text-current" />
      </span>
    </h3>
    <p>{description}</p>
  </section>
</a>
