---
import Search from "astro-pagefind/components/Search";
---

<div
  id="search-modal"
  role="dialog"
  aria-modal="true"
  class="fixed inset-0 z-[99999] hidden bg-black bg-opacity-50 flex items-start justify-center pt-20"
>
  <div
    class="bg-white dark:bg-neutral-800 rounded-lg shadow-xl w-full max-w-2xl mx-4"
  >
    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{ autofocus: true, showImages: true }}
    />
  </div>
</div>

<style is:global>
  .pagefind-ui {
    --pagefind-ui-border-radius: 0;
  }

  .pagefind-ui .pagefind-ui__drawer {
    overflow-y: auto;
    padding: 0 2em 1em;
    max-height: 80vh;
    background-color: var(--pagefind-ui-background);
  }
</style>
