---
import { Icon } from "astro-icon/components";

const { slug } = Astro.props;
---

<view-counter data-slug={slug} class="flex items-center gap-1">
  <Icon name="ri:eye-fill" class="w-4 h-4 text-current" />
  <span data-view-number>--</span>
  <span>views</span>
</view-counter>

<script>
  const viewCounter = document.querySelector("[data-view-number]");

  if (!viewCounter) {
    return;
  }

  const slug = document.location.pathname.replaceAll("/", "");

  const visitCounts = await fetch(
    `https://visits.emasuriano.com/api/${slug}`,
  ).then((x) => x.text());

  viewCounter.innerHTML = visitCounts;

  setTimeout(() => {
    const visits = localStorage.getItem("visits") || "";

    if (!visits.includes(slug)) {
      localStorage.setItem("visits", visits.concat(slug));
      fetch(`https://visits.emasuriano.com/api/${slug}`, {
        method: "POST",
      });
    }
  }, 5000);
</script>
