---
import { format, parseISO } from 'date-fns';
import Layout from 'layouts/Layout.astro';
import { Img } from 'astro-imagetools/components';
import author from '../author.json';
import type { ExternalPost } from 'types';

type Props = ExternalPost;

const { external: href } = Astro.props.frontmatter;

// const { minutesRead: readingTime, cover } = Astro.props.frontmatter;
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content={`0; URL=${href}`} />
  </head>
  <body>
    <p>
      If you are not redirected, <a href={href}>click here</a>.
    </p>
  </body>
</html>
