name: ci

on: [pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - run: yarn install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - run: yarn check-types

      - run: yarn build

      - name: Run E2E tests
        run: yarn test

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
